if TARGET_TQMLS102XA

config SYS_BOARD
	default "tqmls102xa"

config SYS_VENDOR
	default "tqc"

config SYS_SOC
	default "ls102xa"

config SYS_CONFIG_NAME
	default "tqmls102xa"

choice
	prompt "Base board variant"
	optional
	help
	  Select base board for TQMLS102xA module

config TQMLS102XA_MBLS102XA
	bool "TQMLS102xA on MBLS102xA Starterkit"
	help
	  Select the MBLS102xA starterkit.
	  This features a Ethernet, USB, SD-Card, etc.

endchoice

endif
