// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for common parts of rzv-dev board
 *
 * Copyright (C) 2022 Renesas Electronics Corp.
 */
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

&pinctrl {
	eth0_pins: eth0 {
		pinmux = <RZG2L_PINMUX(1, 0, 1)>,
				<RZG2L_PINMUX(1, 1, 1)>,
				<RZG2L_PINMUX(1, 2, 1)>,
				<RZG2L_PINMUX(1, 3, 1)>,
				<RZG2L_PINMUX(1, 4, 1)>,
				<RZG2L_PINMUX(2, 0, 1)>,
				<RZG2L_PINMUX(3, 0, 1)>,
				<RZG2L_PINMUX(3, 1, 1)>,
				<RZG2L_PINMUX(3, 2, 1)>,
				<RZG2L_PINMUX(3, 3, 1)>,
				<RZG2L_PINMUX(4, 0, 1)>,
				<RZG2L_PINMUX(4, 1, 1)>,
				<RZG2L_PINMUX(4, 3, 1)>,
				<RZG2L_PINMUX(4, 4, 1)>,
				<RZG2L_PINMUX(4, 5, 1)>;
	};
};

&xinclk {
        clock-frequency = <24000000>;
};

&scif0 {
	status = "okay";
	clock = <100000000>;
};

&sdhi0 {
	bus-width = <8>;
	status = "okay";
};

&sdhi1 {
	bus-width = <4>;
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&eth0 {
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_pins>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	status = "okay";

	phy0: ethernet-phy@7 {
		reg = <7>;
	};
};

&wdt0 {
	status = "okay";
	timeout-sec = <60>;
};
