config TQC_EEPROM
	bool
	default n

config TQC_EMMC
	bool
	default n

config TQC_SDMMC
	bool
	default n

config TQC_SCU
	bool
	default y if HAVE_SC_FIRMWARE

config TQC_RTC
	bool

#
# This should be selected by boards that wish to support multiple env locations
# select ENV_IS_NOWHERE to use as default if nothing matches.
#
config TQC_ENVLOC
	bool
	select ENV_IS_NOWHERE
