# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (c) 2016-2022 TQ-Systems GmbH <license@tq-group.com>, D-82229 Seefeld, Germany.

config TQ_EEPROM
	bool
	depends on DM_I2C
	select DM_I2C_EEPROM
	select I2C_EEPROM

config TQ_VARD
	bool
	depends on TQ_EEPROM
	select SPL_I2C_EEPROM if SPL
	select SPL_HASH_SUPPORT if SPL
