/* SPDX-License-Identifier: GPL-2.0-or-later */
/*
 * Copyright (c) 2016-2024 TQ-Systems GmbH <u-boot@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Markus Niebel, Steffen Doster
 *
 * Refer doc/imx/mkimage/imximage.txt for more details about how-to configure
 * and create imximage boot image
 *
 * The syntax is taken as close as possible with the kwbimage
 */

/* image version */
IMAGE_VERSION 2

/*#define __ASSEMBLY__*/
#include <config.h>

/*
 * Set to sd even for QSPI boot on i.MX7, as i.MX7 uses offset 0x400 rather
 * than 0x1000 for QSPI
 */
BOOT_FROM      sd

#if IS_ENABLED(CONFIG_IMX_HAB)
CSF CONFIG_CSF_SIZE
#endif

/* TQMa7 DDR config */

/*
 * Device Configuration Data (DCD)
 *
 * Each entry must have the format:
 * Addr-type           Address        Value
 *
 * where:
 *	Addr-type register length (1,2 or 4 bytes)
 *	Address	  absolute address of the register
 *	value	  value to be stored in the register
 */

/* IOMUXC_GPR_GPR1 */
DATA 4 0x30340004 0x4F400005

/* TODO this is copied from imx7sabresd */
/* Clear then set bit30 to ensure exit from DDR retention */
DATA 4 0x30360388 0x40000000
DATA 4 0x30360384 0x40000000

#if IS_ENABLED(CONFIG_TQMA7_512MB)
#include "tqma7_ddr_512mb.cfg"
#elif IS_ENABLED(CONFIG_TQMA7_1GB)
#include "tqma7_ddr_1gb.cfg"
#elif IS_ENABLED(CONFIG_TQMA7_2GB)
#include "tqma7_ddr_2gb.cfg"
#endif

/* CCM_CCGRn */
DATA 4 0x30384130 0x00000000
/* IOMUXC_GPR_GPR8 */
DATA 4 0x30340020 0x00000178
/* CCM_CCGRn */
DATA 4 0x30384130 0x00000002
/* DDR_PHY_LP_CON0 */
DATA 4 0x30790018 0x0000000f

/* DDRC_STAT */
CHECK_BITS_SET 4 0x307a0004 0x1

