if RCAR_GEN3

choice
	prompt "Select Target SoC"

config R8A7795
	bool "Renesas SoC R8A7795"

config R8A7796
	bool "Renesas SoC R8A7796"

config R8A77970
	bool "Renesas SoC R8A77970"

config R8A77990
	bool "Renesas SoC R8A77990"

config R8A77995
	bool "Renesas SoC R8A77995"

config R8A774A1
	bool "Renesas SoC R8A774A1"

config R8A774B1
	bool "Renesas SoC R8A774B1"

config R8A774C0
	bool "Renesas SoC R8A774C0"

config R8A774E1
	bool "Renesas SoC R8A774E1"

endchoice

choice
	prompt "Renesus ARM64 SoCs board select"
	optional

config TARGET_DRAAK
	bool "Draak board"
	help
          Support for Renesas R-Car Gen3 Draak platform

config TARGET_EAGLE
	bool "Eagle board"
	help
          Support for Renesas R-Car Gen3 Eagle platform

config TARGET_EBISU
	bool "Ebisu board"
	help
          Support for Renesas R-Car Gen3 Ebisu platform

config TARGET_SALVATOR_X
	bool "Salvator-X board"
	help
          Support for Renesas R-Car Gen3 platform

config TARGET_ULCB
	bool "ULCB board"
	help
          Support for Renesas R-Car Gen3 ULCB platform

config TARGET_EK874
	bool "EK874 board"
	help
          Support for Renesas RZG2E EK874 platform

config TARGET_HIHOPE_RZG2M
	bool "HiHope RZ/G2M board"
	help
          Support for RZG2M HiHope platform

config TARGET_HIHOPE_RZG2N
	bool "HiHope RZ/G2N board"
	help
          Support for RZG2N HiHope platform

config TARGET_HIHOPE_RZG2H
	bool "HiHope RZ/G2H board"
	help
          Support for RZG2H HiHope platform

config TARGET_TQMARZG2M_E_MBARZG2X
	bool "TQMaRZG2M board (8GiB)"
	select TQC_EEPROM
	help
          Support for TQMaRZG2M platform

config TARGET_TQMARZG2M_AA_MBARZG2X
	bool "TQMaRZG2M board (2GiB)"
	select TQC_EEPROM
	help
          Support for TQMaRZG2M platform

config TARGET_TQMARZG2H_C_MBARZG2X
	bool "TQMaRZG2H board (4GiB)"
	select TQC_EEPROM
	help
          Support for TQMaRZG2H platform

config TARGET_TQMARZG2N_B_MBARZG2X
	bool "TQMaRZG2N board (2GiB)"
	select TQC_EEPROM
	help
          Support for TQMaRZG2N platform
endchoice

config SYS_SOC
	default "rmobile"

source "board/renesas/draak/Kconfig"
source "board/renesas/eagle/Kconfig"
source "board/renesas/ebisu/Kconfig"
source "board/renesas/salvator-x/Kconfig"
source "board/renesas/ulcb/Kconfig"
source "board/renesas/ek874/Kconfig"
source "board/renesas/hihope-rzg2m/Kconfig"
source "board/renesas/hihope-rzg2n/Kconfig"
source "board/renesas/hihope-rzg2h/Kconfig"
source "board/tqc/tqmarzg2m_e-mbarzg2x/Kconfig"
source "board/tqc/tqmarzg2m_aa-mbarzg2x/Kconfig"
source "board/tqc/tqmarzg2h_c-mbarzg2x/Kconfig"
source "board/tqc/tqmarzg2n_b-mbarzg2x/Kconfig"

endif
