if TARGET_TQMA8QXS

config SYS_BOARD
	default "tqma8qxs"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "tqma8qxs"

choice
	prompt "TQMa8QXS CPU variant"
	default TQMA8QXS_CPU_MX8QXP
	help
	  Select cpu variant for TQMa8QXS

config TQMA8QXS_CPU_MX8QXP
	bool "TQMa8XQPS with i.MX8QXP"
	help
	  Select the CPU variant

config TQMA8QXS_CPU_MX8DX
	bool "TQMa8XDS with i.MX8DX"
	help
	  Select the CPU variant

endchoice

choice
	prompt "TQMa8XxS RAM size"
	default TQMA8QXS_RAM_1014MB if TQMA8QX_CPU_MX8QXP
	default TQMA8QXS_RAM_512MB if TQMA8QXS_CPU_MX8DX
	help
	  Select RAM size for TQMa8XxS

config TQMA8QXS_RAM_512MB
	bool "TQMa8XxS with 512 MiB RAM"
	help
	  Select variant with 512 MiB RAM

config TQMA8QXS_RAM_1014MB
	bool "TQMa8XxS with 1024 MiB RAM"
	help
	  Select variant with 1024 MiB RAM

config TQMA8QXS_RAM_2048MB
	bool "TQMa8XxS with 2048 MiB RAM"
	help
	  Select variant with 2048 MiB RAM

endchoice

choice
	prompt "TQMa8QXS base board variant"
	default TQMA8QXS_MB_SMARC_2
	help
	  Select base board for TQMa8QXS

config TQMA8QXS_MB_SMARC_2
	bool "TQMa8QXS on MB_SMARC_2 Board"
	select TQC_SDMMC
	help
	  Select the MB_SMARC_2 board. This is a SMARC2 mainboard
	  etc.

endchoice

config DEFAULT_DEVICE_TREE
	default "fsl-imx8dx-tqma8dxs-mb-smarc-2" if TQMA8QXS_CPU_MX8DX && TQMA8QXS_MB_SMARC_2
	default "fsl-imx8qxp-tqma8qxps-mb-smarc-2" if TQMA8QXS_CPU_MX8QXP && TQMA8QXS_MB_SMARC_2

config DEFAULT_FDT_FILE
	default "fsl-imx8dx-tqma8dxs-mb-smarc-2.dtb" if TQMA8QXS_CPU_MX8DX && TQMA8QXS_MB_SMARC_2
	default "fsl-imx8qxp-tqma8qxps-mb-smarc-2.dtb" if TQMA8QXS_CPU_MX8QXP && TQMA8QXS_MB_SMARC_2

choice
	prompt "TQMa8QXS boot device"
	default TQMA8QXS_BOOT_SDCARD
	help
	  Select boot device for TQMa8QXS

config TQMA8QXS_BOOT_SDCARD
	bool "TQMa8QXS from SD / e-MMC"
	select SD_BOOT
	select ENV_IS_IN_MMC
	help
	  Select booting from SD / e-MMC

endchoice


source "board/tqc/common/Kconfig"

endif
