if TARGET_TQMA7

config SYS_BOARD
	default "tqma7"

config SYS_VENDOR
	default "tqc"

config SYS_SOC
	default "mx7"

config SYS_CONFIG_NAME
	default "tqma7"

config TQMA7
	bool
	select MX7D
	select SPI_FLASH if MBA7 || TQMA7_QSPI_BOOT
	select SPI_FLASH_STMICRO if SPI_FLASH
	select SPI_FLASH_WINBOND if SPI_FLASH
	select SPI_FLASH_SPANSION if SPI_FLASH
	select SPI_FLASH_MTD if SPI_FLASH
	select SPI_FLASH_BAR if SPI_FLASH

choice
	prompt "TQMa7 boot configuration"
	default TQMA7_MMC_BOOT
	help
	  Configure boot device. This is also used to implement environment
	  location.

config TQMA7_MMC_BOOT
	bool "MMC / SD Boot"
	select SD_BOOT
	help
	  Boot from eMMC / SD Card

config TQMA7_QSPI_BOOT
	bool "QSPI NOR Boot"
	select QSPI_BOOT
	help
	  Boot from on board QSPI NOR flash

endchoice


choice
	prompt "TQMa7 DRAM configuration"
	default TQMA7_512MB
	help
	  Configure DRAM size

config TQMA7_512MB
	bool "512 MB DRAM"
	help
	  configure for variant with 512 MB DRAM

config TQMA7_1GB
	bool "1 GB DRAM"
	help
	  configure for variant with 1 GB DRAM

config TQMA7_2GB
	bool "2 GB DRAM"
	help
	  configure for variant with 2 GB DRAM

endchoice


choice
	prompt "TQMa7 base board variant"
	default MBA7

config MBA7
	bool "TQMa7 on MBa7 Starterkit"
	help
	  Select the MBa7 starterkit.

endchoice

config IMX_CONFIG
	default "board/tqc/tqma7/tqma7d.cfg"

source "board/tqc/common/Kconfig"

endif
