if TARGET_TQMA6

config SYS_BOARD
	default "tqma6"

config SYS_VENDOR
	default "tq"

config SYS_CONFIG_NAME
	default "tqma6"

choice
	prompt "TQMa6 SoC variant"
	default TQMA6Q
	help
	  select the TQMa6 module variant. The variants differing in the used
	  i.MX6 CPU type and DRAM

config TQMA6Q
	bool "TQMa6Q / TQMa6D"
	depends on MX6Q
	help
	  select TQMa6Q / TQMa6D with i.MX6Q/D and 1GiB DRAM

config TQMA6Q_2GB
	bool "TQMa6Q / TQMa6D (2GiB RAM)"
	depends on MX6Q
	help
	  select TQMa6Q / TQMa6D with i.MX6Q/D and 2GiB DRAM

config TQMA6QP
	bool "TQMaQP / TQMaDP"
	depends on MX6Q
	help
	  select TQMa6QP / TQMa6DP with i.MX6QP/DP and 1GiB DRAM

config TQMA6DL
	bool "TQMa6DL"
	depends on MX6DL
	help
	  select TQMa6DL with i.MX6DL and 1GiB DRAM

config TQMA6DL_2GB
	bool "TQMa6DL (2GiB RAM)"
	depends on MX6DL
	help
	  select TQMa6DL with i.MX6DL and 2GiB DRAM

config TQMA6S
	bool "TQMa6S"
	depends on MX6S
	help
	  select TQMa6S with i.MX6S and 512 MiB DRAM

endchoice

choice
	prompt "TQMa6 base board variant"
	default MBA6
	help
	  Select base board for TQMa6

config MBA6
	bool "TQMa6 on MBa6 Starterkit"
	select TQ_BB
	select TQ_EMMC
	select TQ_ENVLOC
	select TQ_SDMMC
	select USB
	select CMD_USB
	select USB_STORAGE
	select USB_HOST_ETHER
	select USB_ETHER_SMSC95XX
	select PHYLIB
	select PHY_MICREL
	select PHY_MICREL_KSZ90X1
	select MXC_UART
	select DM_I2C
	select DM_MMC
	select DM_SPI
	select DM_GPIO
	imply DM_SERIAL
	imply DM_ETH
	help
	  Select the MBa6 starterkit. This features a GigE Phy, USB, SD-Card
	  etc.

config WRU4
	bool "OHB WRU-IV"
	help
	  Select the OHB Systems AG WRU-IV baseboard.

endchoice

config TEXT_BASE
	default 0x2fc00000 if TQMA6S
	default 0x4fc00000 if TQMA6Q || TQMA6Q_2GB || TQMA6QP || TQMA6DL || TQMA6DL_2GB

config SPL_TEXT_BASE
	default 0x00908000

#
# environment settings: 64k, offset 1M (SPI Flash sector 64k), redundant env
# in SPI Flash @ 1M + 64k
#
config ENV_SIZE
	default 0x00010000

config ENV_SECT_SIZE
	default 0x00010000

config ENV_OFFSET
	default 0x00100000

config ENV_OFFSET_REDUND
	default 0x00110000

source "board/tq/common/Kconfig"

endif
