config TQ_EEPROM
	bool
	default n

config TQ_EMMC
	bool
	default n

#
# This should be selected by boards that wish to support multiple env locations
# select ENV_IS_NOWHERE to use as default if nothing matches.
#
config TQ_ENVLOC
	bool
	select ENV_IS_NOWHERE

config TQ_RTC
	bool

config TQ_SCU
	bool
	default y if HAVE_SC_FIRMWARE

config TQ_SDMMC
	bool
	default n

config TQ_VARD
	bool
	depends on TQC_EEPROM
	select SPL_HASH_SUPPORT if SPL
