config TQ_BB
	bool
	default y

config TQ_BOARDGPIO
	bool
	default y if DM_GPIO

config TQ_EEPROM
	bool
	default n

config TQ_EMMC
	bool
	default n

#
# This should be selected by boards that wish to support multiple env locations
# select ENV_IS_NOWHERE to use as default if nothing matches.
#
config TQ_ENVLOC
	bool
	select ENV_IS_NOWHERE

config TQ_MBLS10XXA
	bool
	default n

config TQ_RTC
	bool

config TQ_SCU
	bool
	default y if HAVE_SC_FIRMWARE

config TQ_SDMMC
	bool
	default n

config TQ_SPI_NOR
	bool
	default y if (SPI_FLASH && OF_BOARD_SETUP)

config TQ_TQMLS10XXA_COMMON
	bool
	default n

config TQ_VARD
	bool
	depends on TQ_EEPROM
	select HASH
	select SPL_HASH if SPL

config USB_TCPC
	bool "USB Typec port controller simple driver"
	default n
	help
	  Enable USB type-c port controller (TCPC) driver
