config EFI_GBL_IMAGE_LOADING
	bool "Include GBL Image Loading protocol"
	depends on EFI_LOADER
	help
	  Include the driver for the custom GBL Image Loading protocol.
	  This protocol is used to provide buffers to load different images
	  for verification and boot process.

config EFI_GBL_AVB
	bool "Include GBL AVB protocol"
	depends on EFI_LOADER
	help
	  Include the driver for the custom GBL AVB protocol. This protocol
	  allows to delegate device-specific Android verified booot (AVB)
	  logic to the firmware.

config EFI_GBL_OS_CONFIGURATION
	bool "Include GBL Os Configuration protocol"
	depends on EFI_LOADER
	help
	  Include the driver for the custom GBL os configuration protocol.
	  This protocol is used to select base device trees and overlays
	  and apply runtime fix-ups to the bootconfig.
