if TARGET_TQMA8QX

config SYS_BOARD
	default "tqma8qx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "tqma8qx"

choice
	prompt "TQMa8QX CPU variant"
	default TQMA8QX_MX8QXP
	help
	  Select cpu variant for TQMa8QX

config TQMA8QX_MX8QXP
	bool "TQMa8QX with i.MX8QXP"
	help
	  Select the CPU i.MX8QXP / i.MX8DXP

config TQMA8QX_MX8DX
	bool "TQMa8QX with i.MX8QXP"
	help
	  Select the CPU i.MX8QXP / i.MX8DXP

endchoice

choice
	prompt "TQMa8QX base board variant"
	default TQMA8QX_MBA8XX
	help
	  Select base board for TQMa8QX

config TQMA8QX_MBA8XX
	bool "TQMa8QX on MBa8xX Starterkit"
	select TQC_SDMMC
	select DM_ETH
	help
	  Select the MBa8QX starterkit. This features a GigE Phy, USB, SD-Card
	  etc.

endchoice

config DEFAULT_DEVICE_TREE
	default "fsl-imx8dx-tqma8dx-mba8xx" if TQMA8QX_MX8DX && TQMA8QX_MBA8XX
	default "fsl-imx8qxp-tqma8qxp-mba8xx" if TQMA8QX_MX8QXP && TQMA8QX_MBA8XX

config DEFAULT_FDT_FILE
	default "fsl-imx8dx-tqma8dx-mba8xx.dtb" if TQMA8QX_MX8DX && TQMA8QX_MBA8XX
	default "fsl-imx8qxp-tqma8qxp-mba8xx.dtb" if TQMA8QX_MX8QXP && TQMA8QX_MBA8XX

choice
	prompt "TQMa8QX boot device"
	default TQMBA8QX_SDCARD
	help
	  Select boot device for TQMa8QX

config TQMBA8QX_SDCARD
	bool "TQMa8QX from SD / e-MMC"
	select SD_BOOT
	select ENV_IS_IN_MMC
	help
	  Select booting from SD / e-MMC

endchoice


source "board/tqc/common/Kconfig"

endif
