if TARGET_TQMA6UL

config SYS_BOARD
	default "tqma6ul"

config SYS_VENDOR
	default "tqc"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "tqma6ul"

config TQMA6UL_COMMON
	bool
	select SPI_FLASH if MBA6UL || TQMA6UL_QSPI_BOOT
	select SPI_FLASH if MBA6ULXL || TQMA6UL_QSPI_BOOT
	select SPI_FLASH_STMICRO if SPI_FLASH
	select SPI_FLASH_WINBOND if SPI_FLASH
	select SPI_FLASH_SPANSION if SPI_FLASH
	select SPI_FLASH_MTD if SPI_FLASH
	select SPI_FLASH_BAR if SPI_FLASH

choice
	prompt "TQMa6UL CPU variant"
	default TQMA6UL
	help
	  Configure module variant.

config TQMA6UL
	bool
	prompt "TQMa6ULx with i.MX6UL"
	select MX6UL
	select TQMA6UL_COMMON
	help
	  select TQMa6UL with i.MX6UL and 256 MiB DRAM

config TQMA6ULL
	bool
	prompt "TQMa6ULLx with i.MX6ULL"
	select MX6ULL
	select TQMA6UL_COMMON
	help
	  select TQMa6ULL with i.MX6ULL and 256 MiB DRAM

endchoice

choice
	prompt "TQMa6UL module variant"
	default TQMA6UL_VARIANT_STANDARD
	help
	  Configure module variant.

config TQMA6UL_VARIANT_STANDARD
	bool "standard module with board connector"
	help
	  "TQMa6ULx variant with board to board connectors"

config TQMA6UL_VARIANT_LGA
	bool "LGA module with solder balls"
	help
	  "TQMa6ULxL variant LGA with solder balls"

endchoice

choice
	prompt "TQMa6UL boot configuration"
	default TQMA6UL_MMC_BOOT
	help
	  Configure boot device. This is also used to implement environment
	  location.

config TQMA6UL_MMC_BOOT
	bool "MMC / SD Boot"
	select SD_BOOT
	help
	  Boot from eMMC / SD Card

config TQMA6UL_QSPI_BOOT
	bool "QSPI NOR Boot"
	select SPI_FLASH
	select QSPI_BOOT
	help
	  Boot from on board QSPI NOR flash

endchoice


choice
	prompt "TQMa6UL DRAM configuration"
	default TQMA6UL_256MB
	help
	  Configure DRAM size

config TQMA6UL_256MB
	bool "256 MB DRAM"
	help
	  configure for variant with 256 MB DRAM

config TQMA6UL_512MB
	bool "512 MB DRAM"
	help
	  configure for variant with 512 MB DRAM

endchoice

choice
	prompt "TQMa6UL base board variant"
	default MBA6UL

config MBA6UL
	bool "TQMa6UL on MBa6UL Starterkit"
	help
	  Select the MBa6ULx starterkit.

config MBA6ULXL
	bool "TQMa6ULxL on MBa6ULxL base board"
	depends on TQMA6UL_VARIANT_LGA
	help
	  Select the MBa6ULxL Kit.

endchoice

config IMX_CONFIG
	default "board/tqc/tqma6ul/tqma6ul.cfg" if TQMA6UL && TQMA6UL_256MB
	default "board/tqc/tqma6ul/tqma6ull.cfg" if TQMA6ULL && TQMA6UL_256MB
	default "board/tqc/tqma6ul/tqma6ul_512mb.cfg" if TQMA6UL && TQMA6UL_512MB
	default "board/tqc/tqma6ul/tqma6ull_512mb.cfg" if TQMA6ULL && TQMA6UL_512MB

source "board/tqc/common/Kconfig"

endif
