# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2017-2018 Texas Instruments Incorporated - http://www.ti.com/
# Copyright (c) 2020-2023 TQ-Systems GmbH <u-boot@ew.tq-group.com>, D-82229 Seefeld, Germany.

choice
	prompt "TQ-Systems TQMa62xx"
	optional

config TARGET_AM62_A53_TQMA62XX
	bool "TQ-Systems TQMa62xx running on A53"
	select ARM64
	select SPL_BOARD_INIT
	select BOARD_LATE_INIT
	select BINMAN

config TARGET_AM62_R5_TQMA62XX
	bool "TQ-Systems TQMa62xx running on R5"
	select CPU_V7R
	select SYS_THUMB_BUILD
	select K3_LOAD_SYSFW
	select RAM
	select SPL_RAM
	select K3_DDRSS
	select PHYS_64BIT
	select SPL_BOARD_INIT
	select BINMAN
	imply SYS_K3_SPL_ATF

endchoice

if TARGET_AM62_A53_TQMA62XX || TARGET_AM62_R5_TQMA62XX

config SYS_BOARD
	default "tqma62xx"

config SYS_VENDOR
	default "tq"

choice
	prompt "TQ-Systems TQMa62xx base board"

config TQMA62XX_BOARD_MBA62XX
	bool "TQ-Systems MBa62xx"

endchoice

config SYS_CONFIG_NAME
	default "tqma62xx_mba62xx" if TQMA62XX_BOARD_MBA62XX

endif
