if TARGET_TQMA93XX

config SYS_BOARD
	default "tqma93xx"

config SYS_VENDOR
	default "tq"

config SYS_CONFIG_NAME
	default "tqma93xx"

config TQMA93XX_DEFAULTS
	bool
	select BLOBLIST
	select TQ_BB
	select TQ_EEPROM
	select TQ_RTC
	select TQ_SDMMC
	select TQ_VARD
	imply I2C_EEPROM

choice
	prompt "TQMa93XX SOM variant"
	default TQMA93XXLA
	help
	  Select board variant. There are multiple variants of the SOM
	  having the same features but needs slightly different config
	  options

config TQMA93XXLA
	bool "TQMA93XX LGA with LPDDR4X"
	select IMX93
	select IMX9_LPDDR4X
	select TQMA93XX_DEFAULTS
	help
	  Select the TQMA93XX LGA variant. This features i.MX93 in
	  11x11 mm package with LPDDR4, PMIC, e-MMC and optionally
	  SPI-NOR, EEPROM, IMU, RTC, EEPROM

endchoice

choice
	prompt "TQMa93XX mainboard variant"
	default TQMa93XX_BB_MBA93XXCA if TQMA93XXLA
	help
	  Select mainboard variant for the SOM. Default is the
	  starterkit.

config TQMa93XX_BB_MBA93XXCA
	bool "MBA93XXCA starterkit"
	depends on TQMA93XXLA
	select DM_GPIO
	select ENV_IS_NOWHERE
	select USB_TCPC if USB
	help
	  Select the MBA93xxCA starterkit. The evaluation board can
	  demonstrate most of the features of the SOM and CPU

endchoice

#
# place blob list at start of DRAM
#
config BLOBLIST_ADDR
	default 0x80000000 if BLOBLIST

config BLOBLIST_SIZE
	default 0x400 if BLOBLIST

source "board/tq/common/Kconfig"

endif
