if TARGET_TQMA93XX

config SYS_BOARD
	default "tqma93xx"

config SYS_VENDOR
	default "tq"

config SYS_CONFIG_NAME
	default "tqma93xx"

config TQMA93XX_DEFAULTS
	bool
	select IMX93
	select IMX9_LPDDR4X
	select BLOBLIST
	select TQ_BB
	select TQ_EEPROM
	select TQ_RTC
	select TQ_SDMMC
	select TQ_VARD
	imply I2C_EEPROM

choice
	prompt "TQMa93xx mainboard variant"
	default TQMA93XX_BB_MBA93XXCA
	help
	  Select mainboard variant for the SOM. Default is the
	  starterkit.

config TQMA93XX_BB_MBA93XXCA
	bool "MBa93xxCA starterkit"
	select DM_GPIO
	select ENV_IS_NOWHERE
	select TQMA93XX_DEFAULTS
	select USB_TCPC if USB
	help
	  Select the MBA93xxCA starterkit. The evaluation board can
	  demonstrate most of the features of the SOM and CPU and can be
	  used for LGA and connector SOM variants

config TQMA93XX_BB_MBA93XXLA
	bool "MBa93xxLA SBC"
	select DM_GPIO
	select ENV_IS_NOWHERE
	select TQMA93XX_DEFAULTS
	select USB_TCPC if USB
	help
	  Select the MBa93xxLA SBC. This mainboard has the LGA SOM
	  variant assembled.

endchoice

#
# place blob list at start of DRAM
#
config BLOBLIST_ADDR
	default 0x80000000 if BLOBLIST

config BLOBLIST_SIZE
	default 0x400 if BLOBLIST

source "board/tq/common/Kconfig"

endif
