if TARGET_TQMA91XX || TARGET_TQMA93XX

config SYS_BOARD
	default "tqma93xx"

config SYS_VENDOR
	default "tq"

config SYS_CONFIG_NAME
	default "tqma93xx"

config TQMA93XX_DEFAULTS
	bool
	select IMX9_LPDDR4X
	select TQ_BB
	select TQ_EEPROM
	select TQ_RTC
	select TQ_SDMMC
	select TQ_VARD
	imply MISC
	imply I2C_EEPROM

choice
	prompt "TQMa91xx/TQMa93xx mainboard variant"
	default TQMA93XX_BB_MBA93XXCA
	help
	  Select mainboard variant for the SOM. Default is the MBa93xxCA
	  starterkit.

config TQMA93XX_BB_MBA91XXCA
	bool "MBa91xxCA starterkit"
	select DM_GPIO
	select ENV_IS_NOWHERE
	select TQMA93XX_DEFAULTS
	select USB_TCPC if USB
	help
	  Select the MBa91xxCA starterkit. The evaluation board can
	  demonstrate most of the features of the SOM and CPU and can be
	  used for LGA and connector SOM variants

config TQMA93XX_BB_MBA93XXCA
	bool "MBa93xxCA starterkit"
	select DM_GPIO
	select ENV_IS_NOWHERE
	select TQMA93XX_DEFAULTS
	select USB_TCPC if USB
	help
	  Select the MBa93xxCA starterkit. The evaluation board can
	  demonstrate most of the features of the SOM and CPU and can be
	  used for LGA and connector SOM variants

config TQMA93XX_BB_MBA93XXLA
	bool "MBa93xxLA SBC"
	select DM_GPIO
	select ENV_IS_NOWHERE
	select TQMA93XX_DEFAULTS
	select USB_TCPC if USB
	help
	  Select the MBa93xxLA SBC. This mainboard has the LGA SOM
	  variant assembled.

config TQMA93XX_BB_MBA93XXLA_MINI
	bool "MBa93xxLA-MINI SBC"
	select DM_GPIO
	select ENV_IS_NOWHERE
	select TQMA93XX_DEFAULTS
	help
	  Select the MBa93xxLA-MINI SBC. This mainboard has the LGA SOM
	  variant assembled.

endchoice

choice
	prompt "TQMa91/93 RAM configuration"
	default TQMA93XX_RAM_MULTI
	help
	  Select RAM configuration. Normally use default here but for
	  specific setup it is possible to use a single RAM size.

config TQMA93XX_RAM_MULTI
	bool "TQMa91/93 with multiple DRAM configs - Single image"
	select TQMA93XX_RAM_1024MB
	select TQMA93XX_RAM_1536MB if TARGET_TQMA93XX
	select TQMA93XX_RAM_2048MB if TARGET_TQMA93XX
	help
	  Build a single U-Boot image usable for all RAM variants.
	  The RAM size and variant to be used is derived from TQ_VARD
	  data in EEPROM. Inline ECC can be selected with config item
	  IMX9_DRAM_INLINE_ECC.

config TQMA93XX_RAM_SINGLE_1GB
	bool "TQMa91/93 with 1 GB RAM"
	select TQMA93XX_RAM_1024MB
	help
	  Build a U-Boot image usable for 1GB RAM variants.
	  This can be used as a base for configurations with
	  a fixed feature set can not depend on VARD for security
	  reasons.  Inline ECC can be selected with config item
	  IMX9_DRAM_INLINE_ECC.

endchoice

config TQMA93XX_RAM_1024MB
	bool

config TQMA93XX_RAM_1536MB
	bool

config TQMA93XX_RAM_2048MB
	bool

source "board/tq/common/Kconfig"

endif
