if TARGET_TQMA8XX

config SYS_BOARD
	default "tqma8xx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "tqma8xx"

config TQMA8XX_DEFAULTS
	bool
	default y if TARGET_TQMA8XX
	select SMC_FUSE
	select ARCH_MISC_INIT
	select CLK_IMX8
	select TQC_SDMMC
	select TQC_EEPROM
	select TQC_SCU
	select TQC_RTC
	select BOARD_LATE_INIT
	select BOARD_EARLY_INIT_F
	select FIT
	select OF_CONTROL
	select OF_BOARD_SETUP
	select OF_SYSTEM_SETUP
	select PINCTRL
	select PINCTRL_IMX8
	select POWER_DOMAIN
	select IMX8_POWER_DOMAIN
	select DM
	select DM_MMC
	select FSL_ESDHC
	select MMC_IO_VOLTAGE
	select MMC_UHS_SUPPORT
	select MMC_HS400_ES_SUPPORT
	select MMC_HS400_SUPPORT
	select DM_THERMAL
	select DM_GPIO
	select MXC_GPIO
	select DM_I2C
	select SYS_I2C_IMX_LPI2C
	select DM_REGULATOR
	select DM_REGULATOR_FIXED
	select MISC
	select FSL_FSPI
	select DM_SPI
	select SPI
	select DM_SPI_FLASH
	select SPI_FLASH
	select SPI_FLASH_MACRONIX
	select SPI_FLASH_SPANSION
	select SPI_FLASH_STMICRO
	select SPI_FLASH_SST
	select SPI_FLASH_WINBOND
	select SPL
	select SPL_DM
	select SPL_OF_CONTROL
	select SPL_LOAD_FIT
	select SPL_BOARD_INIT
	select SPL_CLK
	select SPL_ENV_SUPPORT
	select SPL_GPIO_SUPPORT
	select SPL_MMC_SUPPORT
	select SPL_DRIVERS_MISC_SUPPORT
	select SPL_POWER_SUPPORT
	select SPL_POWER_DOMAIN
	select SPL_I2C_SUPPORT
	select SPL_DM_REGULATOR
	select SPL_DM_REGULATOR_FIXED
	select SPL_LIBGENERIC_SUPPORT
	select SPL_LIBCOMMON_SUPPORT
	select SPL_SPI_FLASH_SUPPORT
	select SPL_SPI_FLASH_TINY
	select SPL_SPI_SUPPORT

choice
	prompt "TQMa8Xx CPU variant"
	default TQMA8XX_CPU_MX8QXP
	help
	  Select cpu variant for TQMa8Xx

config TQMA8XX_CPU_MX8QXP
	bool "TQMa8Xx with i.MX8QXP / i.MX8DXP"
	help
	  Select the CPU variant i.MX8QXP / i.MX8DXP

endchoice

config NR_DRAM_BANKS
	default 4

config SYS_TEXT_BASE
	default 0x80020000

config SYS_MALLOC_F_LEN
	default 0x8000

config IMX_CONFIG
	default "board/tqc/tqma8xx/imximage.cfg"

choice
	prompt "TQMa8Xx RAM size"
	default TQMA8XX_RAM_1024MB if TQMA8XX_CPU_MX8QXP
	default TQMA8XX_RAM_512MB if TQMA8XX_CPU_MX8DX
	help
	  Select RAM size for TQMa8Xx

config TQMA8XX_RAM_512MB
	bool "TQMa8Xx with 512 MiB RAM"
	help
	  Select variant with 512 MiB RAM

config TQMA8XX_RAM_1024MB
	bool "TQMa8Xx with 1024 MiB RAM"
	help
	  Select variant with 1024 MiB RAM

config TQMA8XX_RAM_2048MB
	bool "TQMa8Xx with 2048 MiB RAM"
	help
	  Select variant with 2048 MiB RAM

endchoice

choice
	prompt "TQMa8Xx base board variant"
	default TQMA8XX_BB_MBA8XX
	help
	  Select base board for TQMa8Xx

config TQMA8XX_BB_MBA8XX
	bool "TQMa8Xx on MBa8Xx Starterkit"
	select DM_SERIAL
	select FSL_LPUART
	select MII
	select DM_ETH
	select FEC_MXC
	select FEC_MXC_SHARE_MDIO
	select PHYLIB
	select PHY_GIGE
	select PHY_TI
	select USB
	select DM_USB
	select USB_EHCI_HCD
	select USB_EHCI_MX6
	select MXC_USB_OTG_HACTIVE
	select USB_XHCI_HCD
	select USB_XHCI_IMX8
	select SPL_SERIAL_SUPPORT
	select DM_PCA953X
	select CMD_FUSE
	select CMD_MII
	select CMD_PING
	select CMD_DHCP
	select CMD_NET
	help
	  Select the MBa8Xx starterkit. This features a GigE Phy, USB, SD-Card
	  etc.

endchoice

config DEFAULT_DEVICE_TREE
	default "fsl-imx8qxp-mba8xx" if TQMA8XX_CPU_MX8QXP && TQMA8XX_BB_MBA8XX

config DEFAULT_FDT_FILE
	default "imx8qxp-mba8xx.dtb" if TQMA8XX_CPU_MX8QXP && TQMA8XX_BB_MBA8XX

config FEC_MXC_MDIO_BASE
	default 0x5B040000

menu "TQMa8XQP boot device"

config TQMA8XX_BOOT_SDCARD
	bool "TQMa8Xx boot from SD / e-MMC"
	default "y"
	select SD_BOOT
	select ENV_IS_IN_MMC
	help
	  Select booting from SD / e-MMC

config TQMBA8XX_BOOT_FSPI
	bool "TQMa8Xx boot from FlexSPI"
	select QSPI_BOOT
	select ENV_IS_IN_SPI_FLASH
	help
	  Select booting from QSPI

endmenu

config SF_DEFAULT_BUS
	default 0

config SF_DEFAULT_CS
	default 0

config SF_DEFAULT_SPEED
	default 40000000

config SF_DEFAULT_MODE
	default 0

source "board/tqc/common/Kconfig"

endif
