// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2022 TQ-Systems GmbH <license@tq-group.com>, D-82229 Seefeld, Germany.
 * Author: Markus Niebel
 *
 */

#include <config.h>

&mmc2 {
	/*
	 * prevents voltage switch warn: driver will switch even at
	 * fixed voltage
	 */
	/delete-property/ vmmc-supply;
};
