// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * TQ TMLX2160ARDB device tree source
 *
 * Author:	Gregor Herburger <gregor.herburger@tq-group.com>
 *
 * Copyright 2020
 *
 */

/dts-v1/;

#include "fsl-lx2160a.dtsi"

/ {
	model = "TQ Systems GmbH TQMLX2160A module";
	compatible = ",tq,tqmlx2160a", "fsl,lx2160a";

	aliases {
		spi0 = &fspi;
	};
};

&fspi {
	bus-num = <0>;
	status = "okay";

	flash0: mx66um1g45g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <10000000>;
		reg = <0>;
	};
};

&i2c0 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

