// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2018 - 2020 TQ Systems GmbH
 */

/dts-v1/;

#include "fsl-imx8qxp-tqma8xqps.dtsi"

/ {
	model = "TQ Systems i.MX8QXP TQMa8XxS on MB-SMARC-2";
	compatible = "tq,tqma8xqps-mb-smarc-2", "tq,tqma8xqps", "fsl,imx8qxp";

	chosen {
		bootargs = "console=ttyLP0,115200 earlycon";
		stdout-path = &lpuart0;
	};

	reg_sdvmmc: regulator-sdvmmc {
		compatible = "regulator-fixed";
		regulator-name = "SD1_VMMC";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 19 GPIO_ACTIVE_LOW>;
		regulator-boot-on;
	};

	reg_usbotg1_vbus: regulator-usbotg1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "USBOTG1_VBUS";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio4 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	usbh3: usbh3 {
		compatible = "Cadence,usb3-host";
		dr_mode = "host";
		cdns3,usb = <&usbotg3>;
		status = "okay";
	};
};

&lpuart0 {
	status = "okay";
};

&usbotg1 {
	vbus-supply = <&reg_usbotg1_vbus>;
	dr_mode = "otg";
	status = "okay";
};

&usbotg3 {
	status = "okay";
};

&usdhc2 {
	vmmc-supply = <&reg_sdvmmc>;
	status = "okay";
};
