// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * TQ TMLX2160ARDB device tree source
 *
 * Author:	Gregor Herburger <gregor.herburger@tq-group.com>
 *
 * Copyright 2020
 *
 */

/dts-v1/;

#include "fsl-lx2160a-tqmlx2160a.dtsi"

/ {
	model = "TQ Systems GmbH TQMLX2160A module on MBLX2160a baseboard";
	compatible = "tq,tqmlx2160a-mblx2160a, tq,tqmlx2160a", "fsl,lx2160a";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};
