// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * TQ TMLX2160ARDB device tree source
 *
 * Author:	Gregor Herburger <gregor.herburger@tq-group.com>
 *
 * Copyright 2020
 *
 */

/dts-v1/;

#include "fsl-lx2160a.dtsi"

/ {
	model = "TQ Systems GmbH TQMLX2160A module";
	compatible = ",tq,tqmlx2160a", "fsl,lx2160a";
};

&i2c0 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

