// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 TQ Systems GmbH
 */

#include "fsl-imx8mn.dtsi"

/ {
	model = "TQ Systems i.MX8MN TQMa8MN";
	compatible = "tq,imx8mn-tqma8mxnl", "fsl,imx8mn";

	reg_tqma8mnx_vcc3v3: regulator-vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "TQMA8MNX_VCC3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_tqma8mnx_vcc1v8: regulator-vcc1v8 {
		compatible = "regulator-fixed";
		regulator-name = "TQMA8MNX_VCC1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	/*
	Pad Control Register

	| 0  | 0    | 0   | 0   | 0x   | 00x |
	| PE | HYS  | PUE | ODE | FSEL | DSE |

	PE: Pull Resistors Enable
	HYS: Hysteresis Enable

	PUE:
	0 — Select pull-down resistors
	1 — Select pull-up resistors

	ODE: Open Drain Enable

	FSEL:
	0x - Select slow slew rate (SR=1)
	1x — Select fast slew rate (SR=0)

	DSE:
	00x — Drive strength X1
	10x — Drive strength X2
	01x — Drive strength X4
	11x — Drive strength X6

	GPIO: 0x84 [HYS|slow|X2] (no pull up)
	I2C: 0x400001C4 [SION|PE|HYS|PUE|slow|x2]
	UDHC: 0x1D4 [HYS|fast|x2] (pull up)
	UDHC100: 0x1D2 [HYS|fast|x4] (pull up)
	UDHC200: 0x1D6 [HYS|fast|x6] (pull up)
	*/

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C1_SCL__I2C1_SCL			0x400001C4
			MX8MN_IOMUXC_I2C1_SDA__I2C1_SDA			0x400001C4
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_ALE__QSPI_A_SCLK 	0x1c4
			MX8MN_IOMUXC_NAND_CE0_B__QSPI_A_SS0_B 	0x84
			MX8MN_IOMUXC_NAND_DATA00__QSPI_A_DATA0 	0x84
			MX8MN_IOMUXC_NAND_DATA01__QSPI_A_DATA1 	0x84
			MX8MN_IOMUXC_NAND_DATA02__QSPI_A_DATA2 	0x84
			MX8MN_IOMUXC_NAND_DATA03__QSPI_A_DATA3 	0x84
			MX8MN_IOMUXC_NAND_DQS__QSPI_A_DQS 	0x40000084

		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_CLK__USDHC1_CLK		0x1d4
			MX8MN_IOMUXC_SD1_CMD__USDHC1_CMD		0x1d4
			MX8MN_IOMUXC_SD1_DATA0__USDHC1_DATA0		0x1d4
			MX8MN_IOMUXC_SD1_DATA1__USDHC1_DATA1		0x1d4
			MX8MN_IOMUXC_SD1_DATA2__USDHC1_DATA2		0x1d4
			MX8MN_IOMUXC_SD1_DATA3__USDHC1_DATA3		0x1d4
			MX8MN_IOMUXC_SD1_DATA4__USDHC1_DATA4		0x1d4
			MX8MN_IOMUXC_SD1_DATA5__USDHC1_DATA5		0x1d4
			MX8MN_IOMUXC_SD1_DATA6__USDHC1_DATA6		0x1d4
			MX8MN_IOMUXC_SD1_DATA7__USDHC1_DATA7		0x1d4
			MX8MN_IOMUXC_SD1_STROBE__USDHC1_STROBE 		0x1d4
			MX8MN_IOMUXC_SD1_RESET_B__USDHC1_RESET_B	0x1d4
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_CLK__USDHC1_CLK		0x1d2
			MX8MN_IOMUXC_SD1_CMD__USDHC1_CMD		0x1d2
			MX8MN_IOMUXC_SD1_DATA0__USDHC1_DATA0		0x1d2
			MX8MN_IOMUXC_SD1_DATA1__USDHC1_DATA1		0x1d2
			MX8MN_IOMUXC_SD1_DATA2__USDHC1_DATA2		0x1d2
			MX8MN_IOMUXC_SD1_DATA3__USDHC1_DATA3		0x1d2
			MX8MN_IOMUXC_SD1_DATA4__USDHC1_DATA4		0x1d2
			MX8MN_IOMUXC_SD1_DATA5__USDHC1_DATA5		0x1d2
			MX8MN_IOMUXC_SD1_DATA6__USDHC1_DATA6		0x1d2
			MX8MN_IOMUXC_SD1_DATA7__USDHC1_DATA7		0x1d2
			MX8MN_IOMUXC_SD1_STROBE__USDHC1_STROBE 		0x84
			MX8MN_IOMUXC_SD1_RESET_B__USDHC1_RESET_B	0x84
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_CLK__USDHC1_CLK		0x1d6
			MX8MN_IOMUXC_SD1_CMD__USDHC1_CMD		0x1d6
			MX8MN_IOMUXC_SD1_DATA0__USDHC1_DATA0		0x1d6
			MX8MN_IOMUXC_SD1_DATA1__USDHC1_DATA1		0x1d6
			MX8MN_IOMUXC_SD1_DATA2__USDHC1_DATA2		0x1d6
			MX8MN_IOMUXC_SD1_DATA3__USDHC1_DATA3		0x1d6
			MX8MN_IOMUXC_SD1_DATA4__USDHC1_DATA4		0x1d6
			MX8MN_IOMUXC_SD1_DATA5__USDHC1_DATA5		0x1d6
			MX8MN_IOMUXC_SD1_DATA6__USDHC1_DATA6		0x1d6
			MX8MN_IOMUXC_SD1_DATA7__USDHC1_DATA7		0x1d6
			MX8MN_IOMUXC_SD1_STROBE__USDHC1_STROBE 		0x84
			MX8MN_IOMUXC_SD1_RESET_B__USDHC1_RESET_B	0x84
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO02__WDOG1_WDOG_B		0x84
		>;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	eeprom1: eeprom@53 {
		compatible = "atmel,24c02";
		reg = <0x53>;
		pagesize = <16>;
		status = "okay";
	};

	eeprom0: eeprom@57 {
		compatible = "st,24c64", "atmel,24c64", "at24";
		reg = <0x57>;
		pagesize = <32>;
		status = "okay";
	};

};

&flexspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";

	flash0: flash@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <29000000>;
		spi-nor,ddr-quad-read-dummy = <6>;
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	vmmc-supply = <&reg_tqma8mnx_vcc3v3>;
	vqmmc-supply = <&reg_tqma8mnx_vcc1v8>;
	status = "okay";
};
