// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (c) 2021-2026 TQ-Systems GmbH <u-boot@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Markus Niebel
 */

/* SOM shared settings for U-Boot */
#include "imx8mp-tqma8mpql-u-boot.dtsi"

/ {
	config {
		/* 64 kiB redundant env */
		u-boot,mmc-env-offset = <0x400000>;
		u-boot,mmc-env-offset-redundant = <0x410000>;
	};
};

&gpio1 {
	gpout1-hog {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "GPOUT_1";
	};

	gpout0-hog {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "GPOUT_0";
	};

	gpout3-hog {
		gpio-hog;
		gpios = <3 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "GPOUT_3";
	};

	gpout2-hog {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "GPOUT_2";
	};

	gpin0-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "GPIN_0";
	};

	gpin1-hog {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "GPIN_1";
	};

	usb-otg-id-hog {
		gpio-hog;
		gpios = <10 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "USB_OTG_ID";
	};

	gpin2-hog {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "GPIN_2";
	};

	gpin3-hog {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "GPIN_3";
	};
};

&gpio2 {
	vcc12v-en-hog {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "VCC12V_EN";
	};
};

&gpio3 {
	lvds0-resetn-hog {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "LVDS0_RESET#";
	};

	lvds0-blt-en-hog {
		gpio-hog;
		gpios = <19 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "LVDS0_BLT_EN";
	};

	lvds0-pwr-en-hog {
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "LVDS0_PWR_EN";
	};
};

&gpio4 {
	enet0-intn-hog {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_LOW>;
		input;
		line-name = "ENET0_INT#";
	};

	enet1-intn-hog {
		gpio-hog;
		gpios = <3 GPIO_ACTIVE_LOW>;
		input;
		line-name = "ENET1_INT#";
	};

	dp-irq-hog {
		gpio-hog;
		gpios = <18 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "DP_IRQ";
	};

	dsi-en-hog {
		gpio-hog;
		gpios = <19 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "DSI_EN";
	};

	hdmi-ocn-hog {
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_LOW>;
		input;
		line-name = "HDMI_OC#";
	};

	temp-eventn-hog {
		gpio-hog;
		gpios = <21 GPIO_ACTIVE_LOW>;
		input;
		line-name = "TEMP_EVENT#";
	};

	fan-pwr-hog {
		gpio-hog;
		gpios = <27 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "FAN_PWR";
	};

	rtc-eventn-hog {
		gpio-hog;
		gpios = <28 GPIO_ACTIVE_LOW>;
		input;
		line-name = "RTC_EVENT#";
	};

	audio-rstn-hog {
		gpio-hog;
		gpios = <29 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "AUDIO_RST#";
	};
};

&gpio5 {
	mipi-csi0-rstn-hog {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "MIPI_CSI0_RST#";
	};

	mipi-csi0-sync-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "MIPI_CSI0_SYNC";
	};

	mipi-csi0-trigger-hog {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "MIPI_CSI0_TRIGGER";
	};

	mipi-csi0-en-hog {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "MIPI_CSI0_EN";
	};
};

&pcie {
	status = "disabled";
};

&pcie_phy {
	status = "disabled";
};

&pinctrl_gpio1 {
	bootph-pre-ram;
};

&pinctrl_uart4 {
	bootph-pre-ram;
};

&uart4 {
	bootph-pre-ram;
};

&usdhc2 {
	sd-uhs-sdr104;
	sd-uhs-ddr50;
	assigned-clocks = <&clk IMX8MP_CLK_USDHC2>;
	assigned-clock-rates = <400000000>;
};

&wdog1 {
	u-boot,noautostart;
	timeout-sec = <60>;
};
