// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2025 NXP
 */

/ {
	binman {
		multiple-images;

		m33-oei-ddrfw {
			pad-byte = <0x00>;
			align-size = <0x8>;
			filename = "m33-oei-ddrfw.bin";

			oei-m33-ddr {
				align-size = <0x4>;
				filename = "oei-m33-ddr.bin";
				type = "blob-ext";
			};

			imx-lpddr {
				type = "nxp-header-ddrfw";

				imx-lpddr-imem {
					filename = "lpddr5_imem_v202311.bin";
					type = "blob-ext";
				};

				imx-lpddr-dmem {
					filename = "lpddr5_dmem_v202311.bin";
					type = "blob-ext";
				};
			};

			imx-lpddr-qb {
				type = "nxp-header-ddrfw";

				imx-lpddr-imem-qb {
					filename = "lpddr5_imem_qb_v202311.bin";
					type = "blob-ext";
				};

				imx-lpddr-dmem-qb {
					filename = "lpddr5_dmem_qb_v202311.bin";
					type = "blob-ext";
				};
			};
		};

		imx-boot {
			filename = "flash.bin";
			pad-byte = <0x00>;

			spl {
				align = <0x400>;
				align-size = <0x400>;
				type = "mkimage";
				args = "-n spl/u-boot-spl.cfgout -T imx8image";
			};

			u-boot {
				type = "mkimage";
				args = "-n u-boot-container.cfgout -T imx8image";
			};
		};
	};
};

&aips1 {
	bootph-all;
};

&aips2 {
	bootph-all;
};

&aips3 {
	bootph-pre-ram;
};

&clk_ext1 {
	bootph-all;
};

&elemu1 {
	status = "okay";
	bootph-pre-ram;
};

&elemu3 {
	status = "okay";
	bootph-all;
};

&{/firmware} {
	bootph-all;
};

&{/firmware/scmi} {
	bootph-all;
};

&{/firmware/scmi/protocol@11} {
	bootph-all;
};

&{/firmware/scmi/protocol@13} {
	bootph-all;
};

&{/firmware/scmi/protocol@14} {
	bootph-all;
};

&{/firmware/scmi/protocol@15} {
	bootph-all;
};

&{/firmware/scmi/protocol@19} {
	bootph-all;
};

&gpio2 {
	reg = <0 0x43810000 0 0x1000>, <0 0x43810040 0 0x40>;
	bootph-pre-ram;
};

&gpio3 {
	reg = <0 0x43820000 0 0x1000>, <0 0x43820040 0 0x40>;
	bootph-pre-ram;
};

&gpio4 {
	reg = <0 0x43840000 0 0x1000>, <0 0x43840040 0 0x40>;
	bootph-pre-ram;
};

&gpio5 {
	reg = <0 0x43850000 0 0x1000>, <0 0x43850040 0 0x40>;
	bootph-pre-ram;
};

&mu2 {
	bootph-all;
};

&osc_24m {
	bootph-all;
};

&{/soc} {
	bootph-all;

	usb3_phy: phy@4c1f0040 {
		compatible = "fsl,imx8mp-usb-phy";
		reg = <0x0 0x4c1f0040 0x0 0x40>;
		clocks = <&scmi_clk IMX95_CLK_HSIO>;
		clock-names = "phy";
		#phy-cells = <0>;
		status = "disabled";
	};

	usb3: usb@4c010010 {
		compatible = "fsl,imx95-dwc3", "fsl,imx8mp-dwc3";
		reg = <0x0 0x4c010010 0x0 0x04>,
		      <0x0 0x4c1f0000 0x0 0x20>;
		clocks = <&scmi_clk IMX95_CLK_HSIO>,
			 <&scmi_clk IMX95_CLK_32K>;
		clock-names = "hsio", "suspend";
		interrupts = <GIC_SPI 173 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		power-domains = <&scmi_devpd IMX95_PD_HSIO_TOP>;
		status = "disabled";

		usb3_dwc3: usb@4c100000 {
			compatible = "snps,dwc3";
			reg = <0x0 0x4c100000 0x0 0x10000>;
			clocks = <&scmi_clk IMX95_CLK_HSIO>,
				 <&scmi_clk IMX95_CLK_24M>,
				 <&scmi_clk IMX95_CLK_32K>;
			clock-names = "bus_early", "ref", "suspend";
			interrupts = <GIC_SPI 175 IRQ_TYPE_LEVEL_HIGH>;
			phys = <&usb3_phy>, <&usb3_phy>;
			phy-names = "usb2-phy", "usb3-phy";
			snps,gfladj-refclk-lpm-sel-quirk;
			snps,parkmode-disable-ss-quirk;
		};
	};

	usb2: usb@4c200000 {
		compatible = "fsl,imx95-usb";
		reg = <0x0 0x4c200000 0x0 0x200>, <0x0 0x4c010000 0x0 0x30>;
		interrupts = <GIC_SPI 176 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 174 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&scmi_clk IMX95_CLK_HSIO>;
		clock-names = "usb1_ctrl_root_clk";
		power-domains = <&scmi_devpd IMX95_PD_HSIO_TOP>;
		phys = <&usbphynop>;
		fsl,usbmisc = <&usbmisc 0>;
		status = "disabled";
	};

	usbphynop: usbphynop {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
		clocks = <&scmi_clk IMX95_CLK_USBPHYBURUNIN>;
		clock-names = "main_clk";
	};

	usbmisc: usbmisc@4c200200 {
		compatible = "fsl,imx95-usbmisc";
		#index-cells = <1>;
		reg = <0x0 0x4c200200 0x0 0x200>;
	};

	netc_blk_ctrl: netc-blk-ctrl@4cde0000 {
		compatible = "nxp,imx95-netc-blk-ctrl";
		reg = <0x0 0x4cde0000 0x0 0x10000>,
		      <0x0 0x4cdf0000 0x0 0x10000>,
		      <0x0 0x4c81000c 0x0 0x18>;
		reg-names = "ierb", "prb", "netcmix";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		power-domains = <&scmi_devpd IMX95_PD_NETC>;
		assigned-clocks = <&scmi_clk IMX95_CLK_ENETREF>;
		assigned-clock-parents = <&scmi_clk IMX95_CLK_SYSPLL1_PFD0>;
		assigned-clock-rates = <250000000>;
		clocks = <&scmi_clk IMX95_CLK_ENET>;
		clock-names = "ipg_clk";

		pcie_4ca00000: pcie@4ca00000 {
			compatible = "pci-host-ecam-generic";
			reg = <0x0 0x4ca00000 0x0 0x100000>;
			/* Must be 3. */
			#address-cells = <3>;
			/* Must be 2. */
			#size-cells = <2>;
			device_type = "pci";
			bus-range = <0x0 0x0>;
				 /* ENETC0~2 and Timer BAR0 - non-prefetchable memory */
			ranges = <0x82000000 0x0 0x4cc00000  0x0 0x4cc00000  0x0 0xe0000
				 /* Timer BAR2 - prefetchable memory */
				 0xc2000000 0x0 0x4cd00000  0x0 0x4cd00000  0x0 0x10000
				 /* ENETC0~2: VF0-1 BAR0 - non-prefetchable memory */
				 0x82000000 0x0 0x4cd20000  0x0 0x4cd20000  0x0 0x60000
				 /* ENETC0~2: VF0-1 BAR2 - prefetchable memory */
				 0xc2000000 0x0 0x4cd80000  0x0 0x4cd80000  0x0 0x60000>;

			enetc_port0: ethernet@0,0 {
				compatible = "fsl,imx95-enetc";
				reg = <0x000000 0 0 0 0>;
				clocks = <&scmi_clk IMX95_CLK_ENETREF>;
				clock-names = "enet_ref_clk";
				status = "disabled";
			};

			enetc_port1: ethernet@8,0 {
				compatible = "fsl,imx95-enetc";
				reg = <0x004000 0 0 0 0>;
				clocks = <&scmi_clk IMX95_CLK_ENETREF>;
				clock-names = "enet_ref_clk";
				status = "disabled";
			};

			enetc_port2: ethernet@10,0 {
				compatible = "fsl,imx95-enetc";
				reg = <0x008000 0 0 0 0>;
				status = "disabled";
			};

			netc_timer: ethernet@18,0 {
				compatible = "fsl,imx95-netc-timer";
				reg = <0x00c000 0 0 0 0>;
				status = "disabled";
			};

			rcec@1,0 {
				compatible = "pci1131,e001";
				reg = <0x000800 0 0 0 0>;
				interrupts = <GIC_SPI 304 IRQ_TYPE_LEVEL_HIGH>;
			};
		};

		pcie_4cb00000: pcie@4cb00000 {
			compatible = "pci-host-ecam-generic";
			reg = <0x0 0x4cb00000 0x0 0x100000>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			bus-range = <0x1 0x1>;
				 /* EMDIO BAR0 - non-prefetchable memory */
			ranges = <0x82000000 0x0 0x4cce0000  0x0 0x4cce0000  0x0 0x20000
				 /* EMDIO BAR2 - prefetchable memory */
				 0xc2000000 0x0 0x4cd10000  0x0 0x4cd10000  0x0 0x10000>;
			power-domains = <&scmi_devpd IMX95_PD_NETC>;

			netc_emdio: mdio@0,0 {
				compatible = "fsl,enetc4-mdio";
				reg = <0x010000 0 0 0 0>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};
		};
	};
};

&sram0 {
	bootph-all;
};

&scmi_buf0 {
	reg = <0x0 0x400>;
	bootph-all;
};

&scmi_buf1 {
	bootph-all;
};


