// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (c) 2024 TQ-Systems GmbH <u-boot@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Markus Niebel
 */

#include "imx95-tqma9596sa-u-boot.dtsi"

/ {
	aliases {
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
	};

	sound {
		/delete-property/ audio-cpu;
	};
};

&panel_in_lvds0 {
	/delete-property/ remote-endpoint;
};

&panel_in_lvds1 {
	/delete-property/ remote-endpoint;
};
