/* SPDX-License-Identifier: GPL-2.0+ */
/*
 * Device Tree file for TQMLS1012AL
 *
 * (C) Copyright 2018 TQ Systems GmbH
 * Max Merchel <Max.Merchel@tq-group.com>
 */

/include/ "fsl-ls1012a.dtsi"

/ {
	model = "TQMLS1012AL";
	aliases {
		spi0 = &qspi;
	};
};

&qspi {
	bus-num = <0>;
	status = "okay";

	qflash0: n25q512a@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&i2c0 {
	status = "okay";

	eeprom: 24c64@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		pagesize = <32>;
		u-boot,i2c-offset-len = <2>;
	};

	se97btp: 24c02@51 {
		compatible = "atmel,24c02";
		pagesize = <16>;
		reg = <0x51>;
	};
};

&duart0 {
	status = "okay";
};
