/* SPDX-License-Identifier: GPL-2.0+ */
/*
 * Device Tree file for TQMLS1012AL base board MBLS1012AL
 *
 * (C) Copyright 2018 TQ Systems GmbH
 * Max Merchel <Max.Merchel@tq-group.com>
 */

/dts-v1/;
#include "ls1012a-tqmls1012al.dtsi"

/ {
	aliases {
		i2c0 = &i2c0;
		mmc0 = &esdhc0;
	};

	chosen {
		stdout-path = &duart0;
	};

	reg_mbls1012al_1p8v: regulator_1p8v {
		compatible = "regulator-fixed";
		regulator-name = "supply-1p8v";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_mbls1012al_3p3v: regulator_3p3v {
		compatible = "regulator-fixed";
		regulator-name = "supply-3p3v";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&esdhc0 {
	status = "okay";
	vmmc-supply = <&reg_mbls1012al_3p3v>;
	vqmmc-supply = <&reg_mbls1012al_1p8v>;
	disable-wp;
	non-removable;
};

&esdhc1 {
	status ="disabled";
};

&i2c0 {
	status = "okay";

	pca9555: pca9555@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	pca9538: pca9538@70 {
		compatible = "nxp,pca9538";
		reg = <0x70>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&sata {
	status = "okay";
};
