// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2018 - 2021 TQ-Systems GmbH
 */

/ {
	chosen {
		bootargs = "console=ttyLP0,115200 earlycon";
		stdout-path = &lpuart0;
	};

	reg_sdvmmc: regulator-sdvmmc {
		compatible = "regulator-fixed";
		regulator-name = "SD1_VMMC";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		off-on-delay-us = <200000>;
		regulator-boot-on;
	};

	/*
	 * TODO:
	 * these are defined in CPU part of dtb, which is wrong.
	 * check when porting to newer release and keep in sync with kernel dtb
	 */
#if 0
	reserved-memory {
		decoder_boot: decoder-boot@84000000 {
			reg = <0 0x84000000 0 0x2000000>;
			no-map;
		};

		encoder_boot: encoder-boot@86000000 {
			reg = <0 0x86000000 0 0x200000>;
			no-map;
		};

		decoder_rpc: decoder-rpc@0x92000000 {
			reg = <0 0x92000000 0 0x200000>;
			no-map;
		};

		encoder_rpc: encoder-rpc@0x92200000 {
			reg = <0 0x92200000 0 0x200000>;
			no-map;
		};

		encoder_reserved: encoder_reserved@94400000 {
			reg = <0 0x94400000 0 0x800000>;
			no-map;
		};
	};
#endif
};

&ethphy0 {
	/* LED1: Link, LED2: activity */
	ti,led-function = <0xc100>;
	/* active high, LED1/2 driven by phy */
	ti,led-ctrl = <0x1441>;
};

&ethphy3 {
	/* LED1: Link, LED2: activity */
	ti,led-function = <0xc100>;
	/* active high, LED1/2 driven by phy */
	ti,led-ctrl = <0x1441>;
};

&fec1 {
	status = "okay";
};

&fec2 {
	status = "okay";
};

&i2c0 {
	eeprom2: eeprom@57 {
		compatible = "st,24c32", "atmel,24c32";
		reg = <0x57>;
		pagesize = <32>;
	};
};

&lpuart0 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	status = "okay";
};

&usdhc2 {
	cd-gpios = <&gpio4 22 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio4 21 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_sdvmmc>;
	no-mmc;
	no-sdio;
	status = "okay";
};
