CONFIG_ARM=y
CONFIG_ARCH_IMX8=y
CONFIG_TARGET_TQMA8XXS=y

CONFIG_DEFAULT_DEVICE_TREE="fsl-imx8qxp-mb-smarc-2-0100"
CONFDIG_DEFAULT_FDT_FILE="imx8qxp-mb-smarc-2_0100.dtb"

CONFIG_IMX_BOOTAUX=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_BOOTDELAY=3
CONFIG_BOOTCOMMAND="run mmcboot"
CONFIG_VERSION_VARIABLE=y
CONFIG_CMD_LICENSE=y
CONFIG_CMD_GREPENV=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_CLK=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_GPIO=y
CONFIG_CMD_DM=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_READ=y
CONFIG_CMD_USB=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_TIME=y
# CONFIG_SPL_EFI_PARTITION is not set
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_NXP_TMU=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_MXC_USB_OTG_HACTIVE=y
CONFIG_EXT4_WRITE=y
CONFIG_FAT_WRITE=y
