CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_TQMA6=y
CONFIG_NAV=y
CONFIG_SYS_EXTRA_OPTIONS="TQMA6_SUPPORT_MENDERIO,SECURE_BOOT"
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_DISK is not set
CONFIG_FSL_CAAM=y
CONFIG_RSA=y
CONFIG_SHA_HW_ACCEL=y
CONFIG_SHA_PROG_HW_ACCEL=y
