if TARGET_TQMA8MNX || TARGET_TQMA8MMX

config SYS_BOARD
	default "tqma8mmx"

config SYS_VENDOR
	default "tqc"

config SYS_CONFIG_NAME
	default "tqma8mmx"

choice
	prompt "TQMa8MMX RAM size"
	default TQMA8MMX_RAM_1024MB if IMX8MN
	default TQMA8MMX_RAM_1024MB if IMX8MM
	help
	  Select RAM size for TQMa8MMx

config TQMA8MMX_RAM_1024MB
	bool "TQMa8MMx with 1024 MiB RAM"
	help
	  Select variant with 1024 MiB RAM

config TQMA8MMX_RAM_2048MB
	bool "TQMa8MMx with 2048 MiB RAM"
	help
	  Select variant with 2048 MiB RAM

endchoice

choice
	prompt "TQMa8MXX base board variant"
	default TQMA8MXX_BB_MBA8MX
	help
	  Select base board for TQMa8MMx/TQMa8MNx

config TQMA8MXX_BB_MBA8MX
	bool "TQMa8MMx/TQMa8MNx on MBa8Mx Starterkit"
	select TQC_SDMMC
	select CMD_FUSE
	select MII
	select CMD_MII
	select CMD_PING
	select CMD_DHCP
	select CMD_NET
	select DM_ETH
	select FEC_MXC
	select PHYLIB
	select PHY_GIGE
	select PHY_TI
	help
	  Select the MBa8Mx starterkit. This features a GigE Phy, USB, SD-Card
	  etc.

endchoice

config DEFAULT_DEVICE_TREE
	default "fsl-imx8mn-mba8mx" if TQMA8MXX_BB_MBA8MX && IMX8MN
	default "fsl-imx8mm-mba8mx" if TQMA8MXX_BB_MBA8MX && IMX8MM

config DEFAULT_FDT_FILE
	default "imx8mn-mba8mx.dtb" if TQMA8MXX_BB_MBA8MX && IMX8MN
	default "imx8mm-mba8mx.dtb" if TQMA8MXX_BB_MBA8MX && IMX8MM

config NR_DRAM_BANKS
	default 1 

config SYS_TEXT_BASE
	default 0x40200000 

config SYS_MALLOC_F_LEN
	default 0x2000 

config SAVED_DRAM_TIMING_BASE
	default 0x40000000 

config FIT_EXTERNAL_OFFSET
	default 0x3000 

config SPL_FIT_GENERATOR
	default "arch/arm/mach-imx/mkimage_fit_atf.sh" 

config SYS_EXTRA_OPTIONS
	default "IMX_CONFIG=arch/arm/mach-imx/imx8m/imximage.cfg,SPL_TEXT_BASE=0x7E1000" if TARGET_TQMA8MMX
	default "IMX_CONFIG=arch/arm/mach-imx/imx8m/imximage.cfg,SPL_TEXT_BASE=0x912000" if TARGET_TQMA8MNX

menu "TQMa8MXX boot device"

config TQMA8MXX_BOOT_SDCARD
	bool "TQMa8MMx/TQMa8MNx boot from SD / e-MMC"
	default "y"
	select SD_BOOT
	select ENV_IS_IN_MMC
	help
	  Select booting from SD / e-MMC

config TQMA8MXX_BOOT_FSPI
	bool "TQMa8MMx/TQMa8MNx boot from FlexSPI"
	select QSPI_BOOT
	select ENV_IS_IN_SPI_FLASH
	help
	  Select booting from FlexSPI

endmenu

config TQMA8MXX_DEFAULTS
	bool
	default y
	select ARCH_MISC_INIT
	select TQC_EEPROM
	select TQC_RTC
	select BOARD_LATE_INIT
	select BOARD_EARLY_INIT_F
	select FIT
	select OF_CONTROL
	select OF_BOARD_SETUP
	select OF_SYSTEM_SETUP
	select PINCTRL
	select PINCTRL_IMX8M
	select DM
	select DM_MMC
	select MMC_IO_VOLTAGE
	select MMC_HS400_SUPPORT
	select FSL_ESDHC
	select DM_THERMAL
	select DM_SERIAL
	select MXC_UART
	select DM_GPIO
	select MXC_GPIO
	select DM_I2C
	select SYS_I2C_MXC
	select MISC
	select FSL_FSPI
	select DM_SPI
	select SPI
	select DM_SPI
	select SPI_FLASH_MTD
	select DM_SPI_FLASH
	select SPI_FLASH
	select SPI_FLASH_4BYTES_ADDR
	select SPI_FLASH_MACRONIX
	select SPI_FLASH_SPANSION
	select SPI_FLASH_STMICRO
	select SPI_FLASH_SST
	select SPI_FLASH_WINBOND
	select SPL
	select SPL_LOAD_FIT
	select SPL_BOARD_INIT
	select SPL_ENV_SUPPORT
	select SPL_SERIAL_SUPPORT
	select SPL_GPIO_SUPPORT
	select SPL_MMC_SUPPORT
	select SPL_DRIVERS_MISC_SUPPORT
	select SPL_POWER_SUPPORT
	select SPL_I2C_SUPPORT
	select SPL_LIBGENERIC_SUPPORT
	select SPL_LIBCOMMON_SUPPORT
	select SPL_SPI_FLASH_SUPPORT
	select SPL_SPI_FLASH_TINY
	select SPL_SPI_SUPPORT

config SF_DEFAULT_BUS
	default 0

config SF_DEFAULT_CS
	default 0

config SF_DEFAULT_SPEED
	default 40000000

config SF_DEFAULT_MODE
	default 0

config TQMA8MXX_MFG_SUPPORT
	bool "MFG Tool support"
	select USB
	select DM_USB
	select USB_GADGET
	select DM_USB_GADGET
	select CI_UDC
	select USB_EHCI_HCD
	select MXC_USB_OTG_HACTIVE
	select USB_FUNCTION_SDP
	select USB_FUNCTION_FASTBOOT
	select FASTBOOT_UUU_SUPPORT
	select FASTBOOT_FLASH
	select CMD_FASTBOOT
	select SPL_USB_HOST_SUPPORT
	select SPL_USB_GADGET
	select SPL_USB_SDP_SUPPORT
	select SPL_IMX_ROMAPI_SUPPORT if TARGET_TQMA8MNX

if TQMA8MXX_MFG_SUPPORT

config USB_GADGET_MANUFACTURER
	default "FSL"

config USB_GADGET_VENDOR_NUM
	default 0x0525

config USB_GADGET_PRODUCT_NUM
	default 0xa4a5

config USB_GADGET_VBUS_DRAW
	default 2

config SDP_LOADADDR
	default 0x40400000

config FASTBOOT_BUF_ADDR
	default 0x42800000

config SPL_IMX_ROMAPI_LOADADDR
	default 0x48000000 if TARGET_TQMA8MNX

# restrict to 256M
config FASTBOOT_BUF_SIZE
	default 0x10000000

config FASTBOOT_USB_DEV
	default 0 if TQMA8MXX_BB_MBA8MX

endif

source "board/tqc/common/Kconfig"

endif
