if TARGET_TQMLS1028A

config SYS_BOARD
	default "tqmls1028a"

config SYS_VENDOR
	default "tqc"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "tqmls1028a"

choice
	prompt "TQMLS1028A base board variant"
	default MBLS1028A
	help
	  Select base board for TQMLS1028A module

config MBLS1028A
	bool "TQMLS1028A on MBLS1028A Starterkit"
	help
	  Select the MBLS1028A starterkit.
	  This features a Ethernet, USB, SD-Card, etc.
endchoice

config EMU
	bool "Emulator Support"
	default n

config EMU_PXP
	bool "Emulator (PXP) Support"
	depends on EMU
	default n

config EMU_CFP
	bool "Emulator (CFP) Support"
	depends on EMU
	default n

config EMU_DDR
	bool "Emulator (DDR) Support"
	depends on EMU
	default n

config EMMC_BOOT
	bool "Support for booting from EMMC"
	default n

config SYS_TEXT_BASE
	default 0x96000000 if EMU && EMU_DDR
	default 0x96000000 if EMU && SD_BOOT
	default 0x20004000 if EMU
	default 0x96000000 if SD_BOOT || EMMC_BOOT
	default 0x20100000

if FSL_LS_PPA
config SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x20A00000 if SYS_LS_PPA_FW_IN_XIP && ARCH_LS1028A && EMU_DDR && EMU_PXP
	default 0x9B000000 if SYS_LS_PPA_FW_IN_XIP && ARCH_LS1028A && EMU_DDR
	default 0x20400000 if SYS_LS_PPA_FW_IN_XIP && ARCH_LS1028A
	default 0x400000 if SYS_LS_PPA_FW_IN_MMC && ARCH_LS1028A
endif

source "board/freescale/common/Kconfig"

endif

