if ARCH_IMX8

config HAVE_SC_FIRMWARE
	bool
	help
	  Have SCU on the SoC

config IMX_SMMU
	bool "Enable SMMU on i.MX8"
	help
	  Enable the SMMU for peripherals on i.MX8

config AHAB_BOOT
	bool "Support i.MX8 AHAB features"
	help
	  This option enables the support for AHAB secure boot.

config IMX8
	bool
	default y

config IMX8QM
	bool
	select HAVE_SC_FIRMWARE

config IMX8QXP
	bool
	select HAVE_SC_FIRMWARE

config SYS_SOC
	default "imx8"

choice
	prompt "MX8 board select"
	optional

config TARGET_IMX8QM_LPDDR4_ARM2
	bool "Support i.MX8QM lpddr4 validation board"
	select BOARD_LATE_INIT
	select IMX8QM

config TARGET_IMX8QM_DDR4_ARM2
	bool "Support i.MX8QM ddr4 validation board"
	select BOARD_LATE_INIT
	select IMX8QM

config TARGET_IMX8QM_MEK
	bool "Support i.MX8QM MEK board"
	select BOARD_LATE_INIT
	select IMX8QM

config TARGET_IMX8QXP_LPDDR4_ARM2
	bool "Support i.MX8QXP lpddr4 validation board"
	select BOARD_LATE_INIT
	select IMX8QXP

config TARGET_IMX8QXP_DDR3_ARM2
	bool "Support i.MX8QXP ddr3 validation board"
	select BOARD_LATE_INIT
	select IMX8QXP

config TARGET_IMX8QXP_MEK
	bool "Support i.MX8QXP MEK board"
	select BOARD_LATE_INIT
	select IMX8QXP

config TARGET_TQMA8QX
	bool "Support TQMa8xX board"
	select BOARD_LATE_INIT
	select IMX8QXP

config TARGET_TQMA8XX
	bool "Support TQMa8xX board"
	select BOARD_LATE_INIT
	select IMX8QXP
	select PSCI_RESET
	select IMX_BOOTAUX
	select ARM64_SUPPORT_AARCH32
	select SYS_MALLOC_F
	select ARCH_FIXUP_FDT_MEMORY
#	select MMC
#	select GENERIC_MMC
#	select DM_MMC
	select PINCTRL
	select PINCTRL_FULL
	select PINCTRL_GENERIC
	select PINMUX
	select PINCTRL_IMX8
	select POWER_DOMAIN

endchoice

source "board/freescale/imx8qm_arm2/Kconfig"
source "board/freescale/imx8qm_mek/Kconfig"
source "board/freescale/imx8qxp_arm2/Kconfig"
source "board/freescale/imx8qxp_mek/Kconfig"
source "board/freescale/tqma8qx/Kconfig"
source "board/tqc/tqma8xx/Kconfig"

endif
